.review-info-container,
.trip-info-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex: 0 0 auto;
}


.buttons-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
    flex-shrink: 0;
}
