.profile-header-container {
    display: flex;
    height: 15vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3em;
}

.figure-profile-container {
    display: flex;
    height: 50%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid #5f24be;

}

.profile_card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-nav-container {
  height: 50%;
  width: 80%;
  box-shadow: inset 0 -2px 0 #bdbdbd;
}

.profile-ul-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.profile-ul-container li {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile-ul-container p {
  margin: 0;
}

.profile-ul-container a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
}

.profile-ul-container a:hover {
  color: #0c9fe4;
}

.profile-ul-container a.active {
  color: #0c9fe4;
  box-shadow: inset 0 -2px 0 #0c9fe4;
}
